*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    color: #fff;
    background-color: #1F2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu{
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}
.header-logo{
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
}
.header-link2{
    margin-left: 20px;
}
.header-link3{
    margin-left: 20px;
}