*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    color: #fff;
    background-color: #1F2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}
.header-logo{
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
}
.header-link2{
    margin-left: 20px;
}
.header-link3{
    margin-left: 20px;
}
.content-container{
    color: #fff;
    background-color: #1F2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    width: 1100px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header{
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.chunky{
    width:400px;
    height: auto;
}
.para{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentpara{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.signbutton{
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 10px;
    font-weight: bold;
}
.info-container{
    background-color: #fff;
    padding: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
.info{
    width: 1100px;
    height: 550px;
    margin-top: 20px;
}
.infoheader{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.info-boxes{
    color: #1F2937;
    font-size: 14px;
    display: flex;
}
.box {
    width: 50px;
    height: 50px;
    padding: 50px;
    border: 3px solid #3882F6;
}


